<!-- Premier entete avec la couleur grise -->
<div class="entete">
  <div class="entete_gauche">
    <i class="fa-regular fa-envelope"></i
    ><span>benyaghlanemarket@gmail.com</span>
    <span>|</span>
    <span>Bienvenue chez ben yaghlane market</span>
  </div>
  <div class="entete_droit">
    <span>
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-linkedin-in"></i>
      <i class="fa-brands fa-pinterest-p"></i>
    </span>
    <span style="margin-top: 10px">|</span>
    <span style="padding-left: 10px"
      ><a href></a><i class="fa-solid fa-user"></i>Login</span
    >
  </div>
</div>
<!-- Deuxieme entete avec la couleur blanche et le menu -->
<div class="entete_2">
  <div><img src="../../../assets/logo.png" alt="" /></div>
  <div>
    <ul>
      <li>
        <button class="btn btn-success">
          <a routerLinkActive="actif" routerLink="/acceuil">Acceuil</a>
        </button>
      </li>
      <li>
        <button class="btn btn-success">
          <a routerLinkActive="actif" routerLink="/listproduit">produits</a>
        </button>
      </li>
      <li>
        <button class="btn btn-success">
          <a routerLinkActive="actif" routerLink="/livraison">Livraison</a>
        </button>
      </li>
      <li>
        <button class="btn btn-success">
          <a routerLinkActive="actif" routerLink="/promotion">Promo</a>
        </button>
      </li>
    </ul>
  </div>

  <div class="entete_2_gauche">
    <i class="fa-solid fa-heart"></i>
    <i class="fa-solid fa-bag-shopping"></i>
  </div>
</div>
<!-- avec les categories -->
<div class="entete_3">
  <!-- Probleme dans le menu des categories -->
  <div class="dropdown">
    <button
      class="btn btn-warning dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="fa-solid fa-bars"></i>
      Les categories
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="recherche" />
      <button class="btn btn-warning" type="submit">rechercher</button>
    </div>
  </div>
  <div>
    <strong>+216 55 382 390 | +216 28 441 663</strong>
    <p>24/7</p>
  </div>
</div>
