<!-- <span class="grand-Div">
  <h3>L'equipe</h3>
  <div class="container">
    <span class="container p-5 my-5 border" style="background-color: #f8f7f7">
      <span style="display: flex; justify-content: center">
        <img src="../../../assets/Amine.jpg" class="rounded-circle" />
      </span>
      <span style="text-align: center">
        <h4>Amine Taous</h4>
        <p>Age: 21ans</p>
      </span>
    </span>
    <span class="container p-5 my-5 border bg-danger text-white">
      <p>
        Nous sommes deux etudiants a iset Charguia specialité developpement
        systeme d'information
      </p>
    </span>
    <span class="container p-5 my-5 border" style="background-color: #f8f7f7">
      <span style="display: flex; justify-content: center">
        <img src="../../../assets/fromage.jpg" class="rounded-circle" />
      </span>
      <span style="text-align: center">
        <h4>Yassine Lassoued</h4>
        <p>Age: 20ans</p>
      </span>
    </span>
  </div>
</span> -->
<div class="apropos">
  <div class="qui_nous_sommes">
    <div>
      <h2>Qui nous sommes? <img src="../../../assets/confusedman.png" /></h2>
    </div>
  </div>
  <div>
    <p>
      Ben yaghlane ou bien groupe ben yaghlane c'est un entreprise cree par des
      tunisien et qui mettre en vente des produits d'alimentaion et de
      nouritions , Ce groupe est diffusé dans plus de 10 boutiques dans grand
      tunis
    </p>
  </div>
</div>
<div class="nos_evenement">
  <h2>Nos evenement</h2>
  <p>
    Ben yaghlane met a la disposition de ces clients un ensemble de produits
    d'alimentation ainsi que des services de livraison et des payements en ligne
  </p>
</div>
<div class="equipe_dev">
  <h2>L'equipe de developpement</h2>
  <p>
    Cette plateforme etait realisé par les etudiants amine taous & yassine
    lassoued de iset charguia et qui apartient a specialité DSI
  </p>
</div>
