<div
  style="
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-left: 150px;
  "
>
  <div
    style="
      background-color: rgb(218, 218, 218);
      height: 408px;
      width: 612px;
      padding-top: 100px;
      padding-left: 140px;
    "
  >
    <h2>Nous contacter</h2>
    <p>Notre adresse postale est:<br />2015 Kram,Tunisie</p>
    <p>Telephone :+216 55 382 390</p>
    <ul
      style="
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        width: 150px;
        padding-top: 25px;
      "
    >
      <a href="https://www.facebook.com/benyaghlane.shops">
        <li>
          <i
            class="fa-brands fa-facebook-f"
            style="font-size: xx-large; padding-right: 10px"
          >
          </i>
        </li>
      </a>
      <a href="https://www.instagram.com/benyaghlaneshops/">
        <li>
          <i
            class="fa-brands fa-instagram"
            style="font-size: xx-large; padding-right: 10px"
          ></i>
        </li>
      </a>
      <a href="https://twitter.com/">
        <li>
          <i
            class="fa-brands fa-twitter"
            style="font-size: xx-large; padding-right: 10px"
          ></i>
        </li>
      </a>
      <a href="https://maktoob.yahoo.com/?p=us">
        <li>
          <i
            class="fa-brands fa-yahoo"
            style="font-size: xx-large; padding-right: 10px"
          ></i>
        </li>
      </a>
    </ul>
  </div>
  <div
    style="
      background: url(../../../assets/bgContact.jpg);
      height: 408px;
      width: 612px;
      padding: 50px;
    "
  >
    <h4 class="titre_droite">
      Une grande vision sans des gens formidales n'a pas d'importance
    </h4>
    <form class="form_droite">
      <input
        type="text"
        placeholder="entrer votre nom"
        style="margin-top: 20px; border: 2px solid #000; border-radius: 5px"
      /><br />
      <input
        type="email"
        placeholder="entrer votre email"
        style="margin-top: 20px; border: 2px solid #000; border-radius: 5px"
      /><br />
    </form>
    <textarea
      class="textarea_droite"
      placeholder="Entrer votre message"
      style="margin-top: 20px; border: 2px solid #000; border-radius: 5px"
    ></textarea
    ><br />
    <button
      class="btn btn-outline-dark"
      style="margin-top: 35px; margin-left: 200px"
    >
      Soumettre
    </button>
  </div>
</div>
