<div id="silder">
  <img [src]="mySource" />
  <div id="btn_left">
    <img (click)="silder(-1)" class="left" src="assets/left.png" />
  </div>
  <div id="btn_rigth">
    <img (click)="silder(1)" class="right" src="assets/right.png" />
  </div>
</div>
<br /><br /><br />
<div class="section-title">
  <h2>Les Categories</h2>
</div>
<br /><br /><br /><br />
<section id="featured-services" class="featured-services">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-4 col-md-6"
        routerLinkActive="actif"
        routerLink="/listproduit"
      >
        <div class="icon-box">
          <img
            style="height: 200px"
            id="YAS"
            src="assets/fromage-chevre-argentine.jpg"
          />
          <h4 class="title">
            <a routerLinkActive="actif" routerLink="/listproduit" href=""
              >FROMAGE</a
            >
          </h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <div class="icon-box">
          <img id="YAS" style="height: 200px" src="assets/2.jfif" />
          <h4 class="title"><a href="">CAFE</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="icon-box">
          <img id="YAS" style="height: 200px" src="assets/3.jpg" />
          <h4 class="title"><a href="">PATISSERIE</a></h4>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <img id="YAS" style="height: 200px" src="assets/4.jpg" />
          <h4 class="title"><a href="">FRUIT SEC</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <div class="icon-box">
          <img id="YAS" style="height: 200px" src="assets/5.png" />
          <h4 class="title"><a href="">CONSERVE</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="icon-box">
          <img id="YAS" style="height: 200px" src="assets/6.jpg" />
          <h4 class="title"><a href="">CHARCUTERIE</a></h4>
        </div>
      </div>
    </div>
  </div>
</section>
<br /><br />
