<div class="granddiv">
  <div class="section-title">
    <h2>Produit de charcuterie</h2>
  </div>

  <div class="row" style="margin-bottom: 3px">
    <ul class="gdiv">
      <li *ngFor="let prod of lesProduits$ | async" class="col-sm-3">
        <div
          *ngIf="prod.promotion == false && prod.categorie == 'Charcuterie'"
          class="card box image"
          style="width: 18rem"
        >
          <img
            [src]="prod.image"
            class="card-img-top p-2"
            height="250px"
            width="900px"
          />
          <h4 class="card-title">
            {{ prod.libelle }}
          </h4>
          <p class="card-text">Prix:{{ prod.prix | number : "0.3" }} Dinars</p>
          <span
            class="badge text-bg-warning m-4"
            *ngIf="prod.disponibilite == true"
          >
            disponible
          </span>
          <span
            class="badge text-bg-warning m-4"
            *ngIf="prod.disponibilite == false"
          >
            repture de stock
          </span>
          <span class="badge text-bg-secondary m-4"> Commander </span>
          <button
            type="button"
            class="btn btn-primary container"
            [routerLink]="['/produit', prod.id]"
          >
            Details
          </button>
        </div>
        <div
          *ngIf="prod.promotion == true && prod.categorie == 'Charcuterie'"
          class="card box image"
          style="width: 18rem"
        >
          <img
            [src]="prod.image"
            class="card-img-top p-2"
            height="250px"
            width="900px"
          />
          <h4 class="card-title">
            {{ prod.libelle }}
          </h4>
          <p class="card-text">
            Prix:
            <span>
              <s>{{ prod.prix }}Dinars</s>
            </span>
            =>
            <span class="btn btn-danger"
              >{{ prod.prix | number : "0.3" }} Dt
            </span>
          </p>
          <span
            class="badge text-bg-warning m-4"
            *ngIf="prod.disponibilite == true"
          >
            disponible
          </span>
          <span
            class="badge text-bg-warning m-4"
            *ngIf="prod.disponibilite == false"
          >
            Repture de stock
          </span>
          <span class="badge text-bg-secondary m-4"> Commander </span>
          <button
            type="button"
            class="btn btn-primary container"
            [routerLink]="['/produit', prod.id]"
          >
            Details
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="boutton_dessous">
  <button
    class="btn btn-outline-primary"
    style="padding: 15px; margin: 10px; float: center"
    routerLink="/acceuil"
    routerLinkActive="actif"
  >
    <i class="fa-solid fa-backward"></i>
    Page Precedente
  </button>
  <button
    class="btn btn-outline-primary"
    style="padding: 15px; margin: 10px; float: center"
    routerLink="/promotion"
    routerLinkActive="actif"
  >
    Page Suivante
    <i class="fa-solid fa-forward"></i>
  </button>
</div>
