<div class="foot">
  <div class="footer">
    <div class="footer_News">
      <div>
        <span>|</span>
        <a href="https://www.facebook.com/benyaghlane.shops"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <span>|</span>
        <a href="https://www.instagram.com/benyaghlaneshops/"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <span>|</span>
        <a href="https://twitter.com/?lang=fr"
          ><i class="fa-brands fa-twitter"></i
        ></a>
      </div>
      <div>
        <strong>Restez informé</strong>
        <p>avec Notre newsletter</p>
        <div class="input-group mb-3">
          <input
            type="email"
            class="form-control"
            placeholder="aaaaa@gmail.com"
          />
          <button class="btn btn-success" type="submit">s'inscrire</button>
        </div>
      </div>
    </div>
  </div>
  <!-- partie des liens -->
  <hr />
  <div class="footer_links">
    <div class="footer_links_gauche">
      <img src="../../../assets/logo.png" /><br />
      <a
        href="https://www.google.com/maps/place/Ben+Yaghlane/@36.8577841,10.2517358,17z/data=!3m1!4b1!4m6!3m5!1s0x12e2cb9e9a196389:0x550adc510c19b815!8m2!3d36.8577798!4d10.2539298!16s%2Fg%2F11h0ylg_ms?hl=fr"
        >Adresse: Kram</a
      >
      <p>Telephone:+216 25 577 689</p>
      <a href="">Email:benyaghlanemarket@gmail.com</a>
    </div>
    <div class="footer_links_gauche">
      <strong>Liens Utiles</strong>
      <ul>
        <li>Apropos de nous</li>
        <li>Contacter nous</li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
