.foot {
  height: 400px;
  width: 1340px;
  background-color: rgb(194, 189, 189);
}
.footer {
  width: 1000px;
  margin-left: 150px;
}
.footer_News {
  display: flex;
  justify-content: space-between;
}
.footer_News i {
  font-size: 40px;
  padding-left: 30px;
  padding-right: 30px;
}
.footer_News span {
  font-size: 50px;
}
img {
  height: 80px;
}
.footer_links {
  width: 1000px;
  margin-left: 150px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.footer_links_gauche {
  padding: 15px;
}
.footer_links_gauche a {
  cursor: pointer;
}
.footer_links_gauche a:hover {
  color: orange;
}
.footer_links_gauche p {
  cursor: pointer;
}
.footer_links_gauche p:hover {
  color: orange;
}

.footer_links_gauche {
  padding: 15px;
}
.footer_links ul li {
  list-style-type: none;
  cursor: pointer;
}
.footer_links ul li:hover {
  color: orange;
}
.footer_links a {
  color: black;
  border: 0px;
  text-decoration: none;
}
