<div>
  <div class="header_acceuil">
    <span
      style="
        display: inline-flex;
        padding: 10px;
        margin-bottom: 120px;
        padding-left: 600px;
      "
    >
      <img src="../../../assets/logo_sans_bg.png" />
      <p style="padding-top: 15px; font-family: Nerko One; font-size: xx-large">
        Ben yaghlane
      </p>
    </span>
    <span style="width: 300px; height: 400px">
      <p
        style="
          text-align: center;

          padding-bottom: 20px;
          font-family: Nerko One;
          font-size: xx-large;
        "
      >
        Bonjour Monsieur L'administrateur & Bienvenue chez ben yaghlane
      </p>
      <p style="text-align: center">
        J'espere que vous allez bien<i
          class="fa-solid fa-face-smile"
          style="font-size: x-large"
        ></i>
      </p>
    </span>
  </div>
</div>
